presentations/
tf/
.RData
.Rhistory
*.results
.png
.mov
*cache/
presentations/
.Rproj.user
packrat/lib*/
experiments/
.DS_store
*.icloud
hddm/
.ipynb_checkpoints/
DiViMe/
*_files/

lena-pred-pitch-vals-pre-interp*.rds

# data files
data/00_metadata/
data/01_raw_data/
data/02_processed_data/
